<div style="float: left;width: 30%;">
<div class="container" style="margin-left: 5em;">
  <div class="row mt4">
    <div class="card" style="width: 100%;" mt-3>
      <div class="card-body">
        <p>Counting Application</p>
      </div>
      <div>
        <app-counting></app-counting>
      </div>
    </div>
  </div>
</div>
</div>
<div style="float: left;width: 30%;">
<div class="container" style="margin-left: 5em;">
  <div class="row mt4">
    <div class="card" style="width: 100%;" mt-3>
      <div class="card-body">
        <p>Lab4 Application</p>
      </div>
      <div>
        <app-lab4></app-lab4>
      </div>
    </div>
  </div>
</div>
</div>